/*
debug:
*{border: 1px solid black;}*/

html, body{
	height: auto;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

html{
	background-color: white;
}

body{
	background-color: #EFEFEF;
	font-family: monospace;
	font-size: 1.5em;
	width: 100%;
	max-width: 900px;
	margin: auto;
	padding: 50px;
}

header{
	text-align: center;
}

nav ul{
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
	background-color: #CDCDCD;
	padding: 7px;
	border-radius: 3px;
}

nav ul li a{
	text-shadow: 0 0 3px #000055;
	text-decoration: none;
	color: #000055;
}

h2::before{
	content: '[ ';
}

h2::after{
	content: ' ]';
}

hr{
	width: 66%;
	border: 1px solid #AFAFAF;
}

a{
	color: #000055;
	text-shadow: 0 0 2px #BBBBFF;
	text-decoration: none;
	transition: color 0.2s;
}

a:hover{
	color: #4444CC;
	transition: color 0.2s;
}

footer{
	margin-top: 40px;
}


/*
 * External websites
*/
a[href ^= "http"]:after{
	padding-left: 2px;
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKAQMAAAC64i25AAAABlBMVEVHcEwdNpGFwIbVAAAAAXRSTlMAQObYZgAAACJJREFUCNdjYPjAYGfA4BDA0DCBoZGBoUmBoQGMHBwY7BsAZtUGoVJ2j9kAAAAASUVORK5CYII=);
}



@media all and (max-width: 1000px){
	body{
		font-size: 1em;
		padding: 15px 0;
	}
}

p{
	text-align: justify;
	text-justify: inter-word;
}
