	<footer>Généré par <a href="https://gitlab.com/sodimel/assb">assb</a> via gitlab-ci. Hébergé par gitlab pages. Site hébergé sur <a href="https://gitlab.com/sodimel/infos/">gitlab</a> sous licence <a href="http://www.wtfpl.net/about/">WTFPL</a>. Un projet de <a href="http://l3m.in">Corentin</a>.</footer>
</body>
</html>
